<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>授权页面</title>
    <link rel="stylesheet" href="../../dist/css/common/auth.min.css">
</head>
<body>
<button id="btn">登录/注册</button>
<div class="mask-wrapper">
    <div class="auth-wrapper">
        <div class="close-wrapper">
            <span class="close-btn"></span>
        </div>
        <div class="auth-inner-wrapper">
            <div class="scroll-wrapper">
                <div class="signin-group auth-group"></div>
                <div class="signup-group auth-group"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>