<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>editionlen</title>
    <link rel="stylesheet" href="../../dist/css/index.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1435038_nrhckv9hku.css">
    <script src="../../dist/js/jquery-3.3.1.min.js"></script>
    <script src="../../dist/js/index.min.js"></script>
</head>
<body>
<header class="header">
    <div class="container">
        <div class="logo-box">
            <a href="/"></a>
        </div>
        <ul class="nav">
            <li class="active"><a href="/">创业资讯</a></li>
            <li><a href="#">创业课堂</a></li>
            <li><a href="#">付费资讯</a></li>
            <li><a href="#">搜索</a></li>
        </ul>
        <div class="auth-box">
            <i class="icon-person iconfont"></i>
            <a href="#">登录</a> /
            <a href="#">注册</a>
        </div>
    </div>
</header>

<div class="main">
    <div class="wrapper">
        <div class="news-wrapper">
            <div class="banner-group" id="banner-group">
                <ul class="banner-url" id="banner-ul">
                    <li>
                        <a href="#">
                            <img src="https://static-image.xfz.cn/1569478157_281.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="https://static-image.xfz.cn/1568863727_493.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="https://static-image.xfz.cn/1554346583_628.jpg-seriescourse.list" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="https://static-image.xfz.cn/1554346512_613.jpg-seriescourse.list" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="https://static-image.xfz.cn/1563171621_723.png-course.list.small" alt="">
                        </a>
                    </li>

                </ul>
                <span class="arrow left-arrow">﹤</span>
                <span class="arrow right-arrow">﹥</span>
                <div class="page-control-group">
                    <ul class="page-control">

                    </ul>
                </div>
            </div>
        </div>
        <div class="sidebar-wrapper"></div>
    </div>
</div>
</body>
</html>