{% extends 'base/front_base.html' %}

{% block title %}
小饭桌
{% endblock %}

{% block head %}
     <link rel="stylesheet" href="{% static 'css/news/index.min.css' %}">
    <script src="{% static 'js/index.min.js' %}"></script>
{% endblock %}

{% block main %}
    <div class="main">
    <div class="wrapper">
        <div class="main-content-wrapper">
            <div class="banner-group" id="banner-group">
                <ul class="banner-url" id="banner-ul">
                    <li>
                        <a href="#">
                            <img src="https://static-image.xfz.cn/1569478157_281.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="https://static-image.xfz.cn/1568863727_493.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="https://static-image.xfz.cn/1554346583_628.jpg-seriescourse.list" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="https://static-image.xfz.cn/1554346512_613.jpg-seriescourse.list" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="https://static-image.xfz.cn/1563171621_723.png-course.list.small" alt="">
                        </a>
                    </li>

                </ul>
                <span class="arrow left-arrow">﹤</span>
                <span class="arrow right-arrow">﹥</span>
                <div class="page-control-group">
                    <ul class="page-control">
                    </ul>
                </div>
            </div>
            <div class="list-outer-group">
                <ul class="list-tab">
                    <li class="active"><a href="#">最新资讯</a></li>
                    <li><a href="#">热点</a></li>
                    <li><a href="#">深度报道</a></li>
                    <li><a href="#">干货分享</a></li>
                    <li><a href="#">投资人说</a></li>
                </ul>
                <ul class="list-inner-group">
                    <li>
                        <div class="thumbnail-group">
                            <a href="#">
                                <img src="http://static-image.xfz.cn/1516169692_914.jpg-website.news.list" alt="">
                            </a>
                        </div>
                        <div class="news-group">
                            <p class="title"><a href="">早报：蔚来3年亏400亿；百度前高管创竞企被判赔260万；Juul申请阻止国外电子烟进美</a></p>
                            <p class="desc">
                                9月24日消息蔚来汽车公司（美股NIO）股价收跌20.22%，报2.17美元，盘中暴跌逾28%，创下历史低点1.97美元。且原定于昨日举行的第二季度财报电话会议已被取消。
                            </p>
                            <p class="more">
                                <span class="category">深度报道</span>
                                <span class="pub-time">1小时前</span>
                                <span class="author">editionlen</span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="thumbnail-group">
                            <a href="#">
                                <img src="http://static-image.xfz.cn/1516010894_546.jpg-website.news.list" alt="">
                            </a>
                        </div>
                        <div class="news-group">
                            <p class="title"><a href="">张小龙演讲全文:小程序、公众号将有哪些变化?</a></p>
                            <p class="desc">
                                刚刚出现的是我打游戏的画面，被大家看到了，那个不是我最好的水平，因为有点紧张，我最高分曾打到6000多分
                            </p>
                            <p class="more">
                                <span class="category">热点</span>
                                <span class="pub-time">2小时前</span>
                                <span class="author">editionlen</span>
                            </p>
                        </div>
                    </li>
                </ul>
                <div class="load-more-group">
                    <button class="load-more">查看更多</button>
                </div>
            </div>
        </div>
        {% include 'common/sidebar.html' %}
    </div>
</div>
{% endblock %}