@import "../common/header.scss";
@import "../common/body";
@import "../common/footer";
@import "../common/constants";

.main{
  .wrapper{
    .main-content-wrapper{
      background:#fff;
      padding: 20px;
      box-sizing: border-box; //边框在盒子内部，这样边框就不会加宽盒子
      .news-wrapper{
        .title{
          color: $mainFontColor;
          font-size:24px;
          font-weight: 400;
        }
        .news-info{
          $newsInfoHeight: 28px;
          overflow: hidden;
          margin-top: 20px;
          color:$assistFontColor;
          font-size:14px;
          line-height: $newsInfoHeight;
          height:$newsInfoHeight;
          .info-group{
            float:left;
            .pub-time{
              margin-left: 20px;
            }
            .category{
              margin-left: 20px;
              background:$themeColor;
              color:#fff;
              padding: 5px;
            }
          }
          .share-group{
            float:right;
            overflow: hidden;
            span{
              float:left;
            }
            .share_item{
              background-image:url("https://www.xfz.cn/static/build/images/share.png");
              background-size:240%;
              background-repeat: no-repeat;
              width:28px;
              height: 28px;
              float:left;
            }
            .weixin{
            }
            .weibo{
              background-position: -39px 0;
              margin-left:10px;
            }
          }
        }

        .article{
          margin-top:20px;
          line-height: 30px;
          img{
            max-width: 100%;
          }
          p{
            margin: 20px auto;
            color:#212121;
          }
        }
      }
      .comment-wrapper{
        border-top: 1px solid $lineColor;
        padding-top: 20px;
        .title{
          color:$mainFontColor;
          font-size:18px;
          font-weight: 400;
        }
        .comment-textarea{
          margin-top:10px;
          width:100%;
          resize: none;
          outline:none;
          border: 1px solid #ccc;
          border-radius:5px;
          font-size:14px;
          padding: 6px 10px;
          box-sizing: border-box;
        }
        .nologin-textarea{
          height:40px;
          line-height:28px;
          overflow: hidden;
        }
        .login-textarea{
          height: 80px;
        }
        .submit-btn-group{
          text-align:right;
          margin-top:14px;
          .sumbit-btn{
            background:$themeColor;
            border: none;
            padding: 6px 10px;
            color:#fff;
            border-radius: 5px;
            cursor: pointer;
          }
        }
        .comment-list{
          margin-top:20px;
          li{
            border-bottom: 1px solid $lineColor;
            padding-bottom: 20px;
            margin-bottom: 20px;
            .comment-info{
              overflow: hidden;
              height: 40px;
              line-height: 40px;
              color:$assistFontColor;
              font-size:16px;
              .avatar{
                float:left;
                width:40px;
                height:40px;
                border-radius:50%;
              }
              .author{
                float:left;
                margin-left:20px;
              }
              .pub-time{
                float:right;
              }
            }
            .comment-content{
              margin-left: 60px;
              margin-top:10px;
            }
          }
        }
      }
    }
  }
}